flake_test=$(nix flake --help > /dev/null 2>&1)

# If flakes are enabled use them
if $flake_test; then
  use flake
# If lorri exists, better try it first.
elif has lorri; then
    eval "$(lorri direnv)"
else
    # Otherwise fall back to pure nix
    use nix
fi
